<h2>id ::{{id}} </h2>
<h2>name ::{{name}} </h2> <br>
<h2>email ::{{email}}  </h2><br> 
<h2>lastName:: {{lastName}}</h2><br>
<h2>picture: : <img src="{{picture}}" height="50px"></h2>
<a href="/logout"><input type="button" value="logout"></a>
