<h2>this is pic uploaded</h2>
<a href="/profile"><button type="button" class="btn btn-success">Inicio</button></a>
<img src="{{photos}}" alt="{{caption}}" title=""{{caption}} height="200" width="230">
<p>caption:--  {{caption}}</p>
<p>url ::-{{name}}</p> 